<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{list.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

    <ion-list color="dark">
      <ion-item color="dark">  
        <ion-label position="floating">Add new item</ion-label>
        <ion-input type="text" [(ngModel)]="nameItem"
                               (keyup.enter)="addItem()" ></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header color="dark">
        <ion-label>Task for TODO</ion-label>
      </ion-list-header>


      <ion-item-sliding *ngFor="let item of list.taskItem; let i=index" class="animated fadeInDown" >
          <ion-item color="dark" >     
            <ion-checkbox slot="start"   
                          [(ngModel)]="item.completed"
                          (ionChange)="checkChange(item)">
              </ion-checkbox>
            <ion-label>{{item.descr}}</ion-label>
          </ion-item> 

          <ion-item-options side="end">
            <ion-item-option (click)="delete(i)" color="danger">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-item-option>
          </ion-item-options>
    
    </ion-item-sliding>

    </ion-list>
</ion-content>
