<ion-header no-border  >
  <ion-toolbar color="primary">
    <ion-title>
      TODO Pendings 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  color="dark">
<ion-list color="dark" >
  <ion-item color="dark" *ngFor="let item of todoServices.list" 
            (click)="selectedList(list)" 
            detail >
    <ion-label>
      {{item.title}}
    </ion-label>
  </ion-item>
  
</ion-list>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addTasktoList()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
